<%= form_with url: "/authors/#{@author.id}", method: :patch, local: true do |form| %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <div class="actions">
  <p><%= form.submit "Submit", class: 'btn btn-secondary' %> </p>
  </div>
<% end %>
