<p>
  <strong>Author Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @author.published%>
</p>

<p>
  <strong>Age:</strong>
  <%= @author.age %>
</p>

<%= link_to "Book Index", "/authors/#{@author.id}/books" %>
