<h1>Libraries</h1>
<% @libraries.each do |library| %>
  <h3><%= library.name %></h3>
  <p><%= library.public %></p>
  <p><%= library.zip_code %></p>
<% end %>

<%= link_to 'Create a new library', '/libraries/new' %>
