<figure class="text-center">
  <blockquote class="blockquote">
    <h1 class="display-2">Relational Rails</h1>
  </blockquote>
  <figcaption class="blockquote-footer">
    by Matt Toensing, Brett Jones and Ezze Alwafai
  </figcaption>
  <br>
  <br>
  <%=  image_tag("db.jpeg", :alt => "db") %>
</figure>
