<p>
  <strong>Museum Name:</strong>
  <%= @museum.name %>
</p>

<p>
  <strong>Free:</strong>
  <%= @museum.free%>
</p>

<p>
  <strong>Entry Fee:</strong>
  <%= @museum.entry_fee %>
</p>

<%= link_to "Exhibit Index", "/museums/#{@museum.id}/exhibits" %>
